@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

.bg-light-gray {
  background-color: #e7e7e7;
}

a:hover {
  color: inherit;
}

.zoom:hover {
  transform: scale(1.02);
  overflow: hidden;
  transition: 200ms;
}

.purple-hover:hover {
  transition: 300ms;
  color: #18006d;
}
