@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

.bg-light-gray {
  background-color: #e7e7e7;
}

a:hover {
  color: inherit;
}

.zoom:hover {
  transform: scale(1.02);
  overflow: hidden;
  transition: 200ms;
}

.purple-hover:hover {
  transition: 200ms;
  color: #2800bb;
}

.wiggle-bdr-top {
  border-top: solid 2px #ffc107;
  animation-duration: 500ms;
  animation-name: wiggle;
}
@keyframes wiggle {
  0%,
  5% {
    transform: rotateZ(0);
  }
  10% {
    transform: rotateZ(-2deg);
  }
  20% {
    transform: rotateZ(2deg);
  }
  25% {
    transform: rotateZ(-2deg);
  }
  30% {
    transform: rotateZ(2deg);
  }
  35% {
    transform: rotateZ(-2deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
